<script>
  function toggle_testing_steps() {
    $.each(['#testing-steps-display', '#testing-steps-form'],
           function(_, selector) {
             $(selector).toggle()
           })
  }
</script>

<hr />

<div id="testing-steps">
  <%= render :partial => 'issues/testing_steps', 
      :locals => { :testing_step => testing_step,
                   :issue => issue } %>
</div>
