<h2><%= l(:label_settings) %>: <%= l('testing_steps.title_plural') %></h2>

<%= render_tabs testing_steps_settings_tabs %>

<% html_title(l('testing_steps.title_plural'),
              l(:label_settings),
              l(:label_administration)) -%>
