<div id="testing-steps-details-error" style="display: none;">
 <table class="list">
    <% if (stats[:nil] > 0) %>
     <tr>
       <td><%= " #{t('testing_steps.x_invalid_nil', :count => stats[:nil])}" %></td>
     </tr>
    <% end %>
     <tr><td> 
       <% version.fixed_issues.testing_steps_invalid.each do |issue|  %>
         <%= link_to_issue(issue,:subject => false, :tracker => false) + ", " %>
       <% end %>
     </td></tr>
 </table>
</div>

